body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family:'Dosis', sans-serif;;
;
}

.avatar {
    width: 150px;
     border-bottom: 5px solid;
     border-left: 5px solid;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content:space-around;
    font-size: 16px ;
    text-align: center;
    background: #0f4c5c;
    color: #ffd166;
    border-top: 6px solid  ;
    border-right: 6px solid  ;
   

        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
.text:hover{
    color: #6a040f;
}
.avatar:hover{
     background-color: #ffd166;
}
.card:hover {
  background-color: #ffd166;
   border-top:  6px solid  ;
    border-right: 6px solid  ;
    color: #0f4c5c;
    
}

    
